<?xml version='1.0' encoding='UTF-8'?>
<slave>
  <name><%= @node_name %></name>
  <description></description>
  <remoteFS><%= @node_home %></remoteFS>
  <numExecutors>1</numExecutors>
  <mode>NORMAL</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
  <launcher class="hudson.plugins.sshslaves.SSHLauncher" plugin="ssh-slaves@1.11">
    <host><%= @job_host %></host>
    <port><%= @job_port %></port>
    <credentialsId><%= @credentials_id %></credentialsId>
    <maxNumRetries>0</maxNumRetries>
    <retryWaitTime>0</retryWaitTime>
  </launcher>
  <label></label>
  <nodeProperties/>
</slave>
